<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Gzip / Brotli 压缩 -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <staticTypes>
        <add mimeType="text/html"             enabled="true" />
        <add mimeType="text/css"              enabled="true" />
        <add mimeType="text/javascript"       enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="image/svg+xml"         enabled="true" />
        <add mimeType="application/json"      enabled="true" />
        <add mimeType="*/*"                   enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/html"             enabled="true" />
        <add mimeType="text/javascript"       enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*"                   enabled="false" />
      </dynamicTypes>
    </httpCompression>

    <!-- WebP MIME 类型注册 -->
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <!-- 浏览器缓存 -->
    <caching>
      <profiles>
        <!-- 图片缓存 1 年 -->
        <add extension=".jpg"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".png"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".gif"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".svg"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <add extension=".ico"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="365.00:00:00" />
        <!-- JS 缓存 1 个月 -->
        <add extension=".js"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <!-- HTML 缓存 1 天 -->
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="1.00:00:00" />
      </profiles>
    </caching>

    <!-- 安全响应头 -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options"  value="nosniff" />
        <add name="X-Frame-Options"         value="SAMEORIGIN" />
        <add name="Referrer-Policy"         value="strict-origin-when-cross-origin" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <!-- 默认文档 -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- 自定义错误页 -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>

  </system.webServer>
</configuration>
